.order-conclusion {
  width: 100%;
  text-align: center;
}

.order-conclusion__price {
  margin: 0 auto;
  padding: 8px;
  width: 45%;
  @include conclusion();
}

.order-conclusion__button {
  display: block;
  position: relative;
  width: 55%;
  margin: 10px auto 0 auto;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  transition: 0.1s linear;
  overflow: hidden;
  @include conclusion();
  outline: none;
}

.order-conclusion__button:hover {
  color: red;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid red;
}

.order-conclusion__button:hover .order-conclusion--hover-span {
  top: 0;
}

.order-conclusion--hover-span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 105%;
  left: 0px;
  border: 0px solid white;
  border-radius: 3px;
  background-color: green;
  transition: 0.1s linear;
  z-index: -1;
}

@media (min-width: 411px) and (orientation: portrait) {
  .order-conclusion__price {
    margin: 10px auto 0;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .order-conclusion__price {
    padding: 10px;
    width: 40%;
    font-size: 34px;
    margin-bottom: 20px;
    border: 4px solid rgb(150, 150, 150);
    border-radius: 8px;
  }

  .order-conclusion__button {
    border: 4px solid rgb(150, 150, 150);
    border-radius: 8px;
    padding: 15px 10px;
    font-size: 40px;
  }

  .order-conclusion__button:hover {
    border: 4px solid red;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .order-conclusion__price {
    margin: 15px auto 0;
    font-size: 18px;
    width: 30%;
  }

  .order-conclusion__button {
    font-size: 20px;
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .order-conclusion__price {
    width: 20%;
    font-size: 22px;
  }

  .order-conclusion__button {
    width: 27%;
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .order-conclusion__price {
    width: 9%;
    padding: 5px;
    font-size: 12px;
  }

  .order-conclusion__button {
    width: 13%;
    padding: 5px;
    font-size: 15px;
  }
}
