@import "./entryPage/_entryPage.scss";
@import "./mainPage/header/_mainPageHeader.scss";
@import "./mainPage/singleProductsList/_singleProductsList.scss";
@import "./mainPage/conclusion/_mixin.scss";
@import "./mainPage/conclusion/_conclusion.scss";
@import "./mainPage/prodCategories/_prodCategories.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "sans-serif";
}
